#####################################################
#
# List of approvers for OpenTelemetry JS SDK
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# All files
* @open-telemetry/javascript-approvers

# Only maintainers can approve changes in .github/ - including this file here, workflows and issue templates
.github/ @open-telemetry/javascript-maintainers

# Maintainers own the API packages: strict stability guarantees require extensive review
api/ @open-telemetry/javascript-maintainers
experimental/packages/api-logs/ @open-telemetry/javascript-maintainers

# Any browser-specific code is co-owned by Browser SIG and JS SIG (list more packages here as needed):
bundler-tests/ @open-telemetry/browser-maintainers @open-telemetry/javascript-approvers
examples/opentelemetry-web/ @open-telemetry/browser-maintainers @open-telemetry/javascript-approvers
experimental/packages/opentelemetry-browser-detector/ @open-telemetry/browser-maintainers @open-telemetry/javascript-approvers
experimental/packages/opentelemetry-instrumentation-fetch/ @open-telemetry/browser-maintainers @open-telemetry/javascript-approvers
experimental/packages/opentelemetry-instrumentation-xml-http-request/ @open-telemetry/browser-maintainers @open-telemetry/javascript-approvers
experimental/packages/opentelemetry-web-common/ @open-telemetry/browser-maintainers @open-telemetry/javascript-approvers
packages/opentelemetry-sdk-trace-web/ @open-telemetry/browser-maintainers @open-telemetry/javascript-approvers
