[submodule "packages/opentelemetry-exporter-collector-grpc/protos"]
	path = packages/opentelemetry-exporter-collector-grpc/protos
	url = https://github.com/open-telemetry/opentelemetry-proto.git
[submodule "packages/opentelemetry-exporter-collector-proto/protos"]
	path = packages/opentelemetry-exporter-collector-proto/protos
	url = https://github.com/open-telemetry/opentelemetry-proto.git
