[submodule "packages/opentelemetry-exporter-collector/src/platform/node/grpc/protos"]
	path = packages/opentelemetry-exporter-collector/src/platform/node/grpc/protos
	url = git@github.com:open-telemetry/opentelemetry-proto.git
