[submodule "experimental/packages/otlp-grpc-exporter-base/protos"]
	path = experimental/packages/otlp-grpc-exporter-base/protos
	url = https://github.com/open-telemetry/opentelemetry-proto.git
[submodule "experimental/packages/otlp-proto-exporter-base/protos"]
	path = experimental/packages/otlp-proto-exporter-base/protos
	url = https://github.com/open-telemetry/opentelemetry-proto.git
