**/*.md
**/*.yaml
**/*.yml
**/*.json
**/*.jsonc
**/.nycrc
**/.eslint.js
**/.eslintrc.js
**/eslint*.js
**/karma*.js
**/benchmark/
**/examples/
**/fixtures/
**/scripts/
integration-tests/
selenium-tests/
semantic-conventions/
experimental/backwards-compatibility/
