{
  "env": {
    "node": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "no-use-before-define": ["error", "nofunc"],
    "no-console": "off",
    "import/no-unresolved": "off",
    "no-unused-vars": ["error"],
    "strict": ["error", "global"]
  }
}
