version: 2

node_test_env: &node_test_env
  RUN_POSTGRES_TESTS: 1
  RUN_MYSQL_TESTS: 1
  RUN_MONGODB_TESTS: 1
  RUN_REDIS_TESTS: 1
  POSTGRES_USER: postgres
  POSTGRES_DB: circle_database
  POSTGRES_HOST: localhost
  POSTGRES_PORT: 5432
  OPENTELEMETRY_REDIS_HOST: 'localhost'
  OPENTELEMETRY_REDIS_PORT: 6379
  MONGODB_HOST: localhost
  MONGODB_DB: opentelemetry-tests
  MONGODB_PORT: 27017
  MYSQL_USER: otel
  MYSQL_PASSWORD: secret
  MYSQL_DATABASE: circle_database
  MYSQL_PORT: 3306

postgres_service: &postgres_service
  image: circleci/postgres:9.6-alpine
  environment: # env to pass to CircleCI, specified values must match node_test_env
    POSTGRES_USER: postgres
    POSTGRES_DB: circle_database
redis_service: &redis_service
  image: redis

mongo_service: &mongo_service
  image: mongo

mysql_service: &mysql_service
  image: circleci/mysql:5.7
  environment:
    MYSQL_USER: otel
    MYSQL_PASSWORD: secret
    MYSQL_DATABASE: circle_database
    MYSQL_ROOT_PASSWORD: rootpw

cache_1: &cache_1
  key: npm-cache-01-{{ .Environment.CIRCLE_JOB }}-{{ checksum "/tmp/checksums.txt" }}-1
  paths:
    - ./node_modules
    - ./yarn.lock
    - packages/opentelemetry-base/node_modules
    - packages/opentelemetry-scope-base/node_modules
    - packages/opentelemetry-types/node_modules
    - packages/opentelemetry-scope-async-hooks/node_modules
    - packages/opentelemetry-core/node_modules
    - packages/opentelemetry-exporter-prometheus/node_modules
    - packages/opentelemetry-metrics/node_modules
    - packages/opentelemetry-tracing/node_modules
    - packages/opentelemetry-exporter-jaeger/node_modules
    - packages/opentelemetry-exporter-zipkin/node_modules
    - packages/opentelemetry-node/node_modules
    - packages/opentelemetry-shim-opentracing/node_modules
    - packages/opentelemetry-web/node_modules
    - packages/opentelemetry-plugin-dns/node_modules

cache_2: &cache_2
  key: npm-cache-02-{{ .Environment.CIRCLE_JOB }}-{{ checksum "/tmp/checksums.txt" }}-2
  paths:
    - packages/opentelemetry-plugin-grpc/node_modules
    - packages/opentelemetry-plugin-http/node_modules
    - packages/opentelemetry-plugin-http2/node_modules
    - packages/opentelemetry-plugin-mongodb/node_modules
    - packages/opentelemetry-plugin-redis/node_modules
    - packages/opentelemetry-plugin-postgres/opentelemetry-plugin-pg/node_modules
    - packages/opentelemetry-plugin-document-load/node_modules
    - packages/opentelemetry-plugin-https/node_modules
    - packages/opentelemetry-plugin-postgres/opentelemetry-plugin-pg-pool/node_modules
    - packages/opentelemetry-plugin-mysql/node_modules
    - packages/opentelemetry-exporter-collector/node_modules
    - packages/opentelemetry-plugin-xml-http-request/node_modules
    - packages/opentelemetry-exporter-stackdriver-trace/node_modules

node_unit_tests: &node_unit_tests
  steps:
    - checkout
    - run:
        name: Create Checksum
        command: sh .circleci/checksum.sh /tmp/checksums.txt
    - run:
        name: Setup environment variables
        command: |
          echo "export CIRCLE_NODE_VERSION=\$(node --version | grep -oE 'v[0-9]+')" >> $BASH_ENV
          source $BASH_ENV
    - run:
        name: Log out node.js version
        command: |
          node --version
          echo "CIRCLE_NODE_VERSION=${CIRCLE_NODE_VERSION}"
    - restore_cache:
        keys:
          - npm-cache-01-{{ .Environment.CIRCLE_JOB }}-{{ checksum "/tmp/checksums.txt" }}-1
    - restore_cache:
        keys:
          - npm-cache-02-{{ .Environment.CIRCLE_JOB }}-{{ checksum "/tmp/checksums.txt" }}-2
    - run:
        name: Install Dependencies
        command: yarn install
    - save_cache:
        <<: *cache_1
    - save_cache:
        <<: *cache_2
    - run:
        name: Compile code
        command: yarn compile
    - run:
        name: Unit tests
        command: yarn test
    - run:
        name: report coverage
        command: if [ "${CIRCLE_NODE_VERSION}" = "v12" ]; then yarn codecov; fi

browsers_unit_tests: &browsers_unit_tests
  steps:
    - checkout
    - run:
        name: Create Checksum
        command: sh .circleci/checksum.sh /tmp/checksums.txt
    - run:
        name: Setup environment variables
        command: |
          echo "export CIRCLE_NODE_VERSION=\$(node --version | grep -oE 'v[0-9]+')" >> $BASH_ENV
          source $BASH_ENV
    - run:
        name: Log out node.js version
        command: |
          node --version
          echo "CIRCLE_NODE_VERSION=${CIRCLE_NODE_VERSION}"
    - restore_cache:
        keys:
          - npm-cache-01-{{ .Environment.CIRCLE_JOB }}-{{ checksum "/tmp/checksums.txt" }}-1
    - restore_cache:
        keys:
          - npm-cache-02-{{ .Environment.CIRCLE_JOB }}-{{ checksum "/tmp/checksums.txt" }}-1
    - run:
        name: Install Dependencies
        command: yarn install
    - save_cache:
        <<: *cache_1
    - save_cache:
        <<: *cache_2
    - run:
        name: Unit tests
        command: yarn test:browser
    - run:
        name: report coverage
        command: if [ "$CIRCLE_NODE_VERSION" = "v12" ]; then yarn codecov:browser; fi

jobs:
  lint_&_docs:
    docker:
      - image: node:12
    steps:
      - checkout
      - run:
          name: Install minimal doc and lint modules globally
          command: yarn global add lerna typedoc linkinator typescript gts tslint-consistent-codestyle tslint-microsoft-contrib
      - run:
          name: Symlink global modules into all lerna packages
          command: lerna exec 'ln -s $(yarn global dir)/node_modules node_modules'
      - run:
          name: Check code style and linting
          command: yarn run check
      - run:
          name: Docs tests
          command: yarn docs-test
      - persist_to_workspace:
          root: packages/opentelemetry-types/docs
          paths:
            - out
      - run:
          name: Install minimal modules to lint examples
          command: npm i -D eslint eslint-plugin-import eslint-config-airbnb-base
      - run:
          name: Lint examples
          command: npm run lint-examples
  docs-deploy:
    docker:
      - image: node:12
    steps:
      - checkout
      - attach_workspace:
          at: packages/opentelemetry-types/docs
      - run:
          name: Install and configure dependencies
          command: |
            npm install --silent --no-save gh-pages
            git config user.email noreply@opentelemetry.io
            git config user.name "ci-build"
      - add_ssh_keys:
          fingerprints:
            - "1d:a3:60:b5:b4:8d:e7:8a:96:ce:6a:0a:e9:58:4c:54"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dist packages/opentelemetry-types/docs/out
  node8:
    docker:
      - image: node:8
        environment: *node_test_env
      - *postgres_service
      - *mysql_service
      - *redis_service
      - *mongo_service
    <<: *node_unit_tests
  node10:
    docker:
      - image: node:10
        environment: *node_test_env
      - *postgres_service
      - *mysql_service
      - *redis_service
      - *mongo_service
    <<: *node_unit_tests
  node12:
    docker:
      - image: node:12
        environment: *node_test_env
      - *postgres_service
      - *mysql_service
      - *redis_service
      - *mongo_service
    <<: *node_unit_tests
  node12-browsers:
    docker:
      - image: circleci/node:12-browsers
    <<: *browsers_unit_tests

workflows:
  version: 2
  build:
    jobs:
      - lint_&_docs:
          filters:
            branches:
              only: /.*/
      - docs-deploy:
          requires:
            - lint_&_docs
          filters:
            tags:
              only: /^v\d+\.\d+\.\d$/
            branches:
              ignore: /.*/
      - node8
      - node10
      - node12
      - node12-browsers
