{
  "env": {
    "browser": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "strict": ["error", "global"],
    "no-use-before-define": ["error", "nofunc"],
    "no-console": "off",
    "import/no-unresolved": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "import/no-extraneous-dependencies": [ "error", { "devDependencies": true } ]
  }
}
