version: '3.7'

services:
  prometheus:
    image: prom/prometheus:v3.10.0
    extra_hosts:
      - host.docker.internal:host-gateway
    volumes:
      - "./prometheus.docker.yml:/etc/prometheus/prometheus.yml"
    ports:
      - 9090:9090
    restart: always
