{
  "env": {
    "node": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "strict": ["error", "global"],
    "no-use-before-define": ["error", "nofunc"],
    "no-console": "off",
    "import/no-unresolved": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  }
}
