name: Create or Update Release PR

on:
  workflow_dispatch:
    inputs:
      release_type:
        type: choice
        description: Release type
        options:
          - patch
          - minor
      release_scope:
        type: choice
        description: Release Scope
        options:
          - experimental # all packages in experimental/packages
          - sdk # all SDK packages, experimental and stable, excluding semantic conventions
          - all # all release packages, including API, excluding semconv
          - semconv # only semantic convention package

permissions:
  contents: read

jobs:
  create-or-update-release-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        id: otelbot-token
        with:
          app-id: ${{ vars.OTELBOT_JS_APP_ID }}
          private-key: ${{ secrets.OTELBOT_JS_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ steps.otelbot-token.outputs.token }}

      - uses: actions/setup-node@v5
        with:
          cache: 'npm'
          cache-dependency-path: package-lock.json
          node-version: 22
      - run: npm install -g npm@latest

      - run: npm ci

      - name: Create/Update Release PR
        run: |
          git config user.name otelbot
          git config user.email 197425009+otelbot@users.noreply.github.com
          npm run github:create_or_update_release_pr
        env:
          GITHUB_TOKEN: ${{ steps.otelbot-token.outputs.token }}
          RELEASE_SCOPE: ${{ github.event.inputs.release_scope }}
          RELEASE_KIND: ${{ github.event.inputs.release_scope }}:${{ github.event.inputs.release_type }}
          RELEASE_PR_REMOTE: origin
