name: Create or Update Release PR

on:
  workflow_dispatch:
    inputs:
      stable_sdk_release:
        type: choice
        description: 'Stable SDK packages (./packages/*)'
        default: 'inherit'
        options:
          - inherit # no release unless required by other settings
          - patch
          - minor
      experimental_release:
        type: choice
        description: 'Experimental packages (./experimental/packages/*)'
        default: 'inherit'
        options:
          - inherit # matches stable SDK if released, otherwise no release
          - patch
          - minor
      api_release:
        type: choice
        description: 'API package (./api) - makes stable SDK and experimental inherit the bump'
        default: 'inherit'
        options:
          - inherit # no release
          - patch
          - minor
      semconv_release:
        type: choice
        description: 'Semantic Conventions package (./semantic-conventions)'
        default: 'inherit'
        options:
          - inherit # no release
          - patch
          - minor

permissions:
  contents: read

jobs:
  create-or-update-release-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: otelbot-token
        with:
          app-id: ${{ vars.OTELBOT_JS_APP_ID }}
          private-key: ${{ secrets.OTELBOT_JS_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          token: ${{ steps.otelbot-token.outputs.token }}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: 'npm'
          cache-dependency-path: package-lock.json
          node-version: 22
      - run: npm install -g npm@latest

      - run: npm ci --ignore-scripts

      - name: Create/Update Release PR
        run: |
          git config user.name otelbot
          git config user.email 197425009+otelbot@users.noreply.github.com
          npm run github:create_or_update_release_pr
        env:
          GITHUB_TOKEN: ${{ steps.otelbot-token.outputs.token }}
          STABLE_SDK_RELEASE: ${{ github.event.inputs.stable_sdk_release }}
          EXPERIMENTAL_RELEASE: ${{ github.event.inputs.experimental_release }}
          API_RELEASE: ${{ github.event.inputs.api_release }}
          SEMCONV_RELEASE: ${{ github.event.inputs.semconv_release }}
          RELEASE_PR_REMOTE: origin
