name: Lint

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
          node-version: '22'

      - name: Bootstrap
        run: npm ci --ignore-scripts

      - name: Lint
        run: |
          npm run lint
          npm run lint:examples

      - name: Lint doc files
        run: |
          npm run compile
          NODE_OPTIONS=--max-old-space-size=6144 npm run docs
          npm run docs:test
