name: Lint

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: npm
          cache-dependency-path: |
            package-lock.json
          node-version: 22

      - name: Bootstrap
        run: npm ci --ignore-scripts

      - name: Lint
        run: |
          npm run lint
          npm run lint:examples

      - name: Lint doc files
        run: |
          npm run compile
          NODE_OPTIONS=--max-old-space-size=6144 npm run docs
          npm run docs:test
