name: Move inactive members to Emeritus

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  create-or-update-emeritus-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: otelbot-token
        with:
          app-id: ${{ vars.OTELBOT_JS_APP_ID }}
          private-key: ${{ secrets.OTELBOT_JS_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          token: ${{ steps.otelbot-token.outputs.token }}
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: 'npm'
          cache-dependency-path: package-lock.json
          node-version: 22
      - run: node scripts/move-to-emeritus.js
        env:
          # don't use otelbot-js's token as it has more permissions than we need.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create/Update Move to Emeritus PR
        run: |
          git config user.name otelbot
          git config user.email 197425009+otelbot@users.noreply.github.com
          git checkout -b otelbot/move-inactive-to-emeritus
          git add README.md
          git commit -m "chore: move inactive members to emeritus"
          git push --set-upstream origin otelbot/move-inactive-to-emeritus --force
          gh pr create --title 'chore: move inactive members to emeritus' --body-file ./.tmp/emeritus-pr-body.md || gh pr edit otelbot/move-inactive-to-emeritus --body-file ./.tmp/emeritus-pr-body.md
        env:
          GITHUB_TOKEN: ${{ steps.otelbot-token.outputs.token }}
