name: Ensure API Peer Dependency

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  peer-api-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
          node-version: '24'

      - name: Install script dependencies
        run: npm ci --ignore-scripts

      - name: Check API dependency semantics
        run: npx nx run-many -t peer-api-check
