on:
  push:
    branches:
      - release-please-test
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v2
        with:
          command: manifest
          default-branch: release-please-test
