name: SBOM
on:
  release:
    types: [published]

permissions: read-all

jobs:
  generate-sboms:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 22

      - run: npm install -g npm@latest

      - name: Bootstrap
        run: npm ci --ignore-scripts

      - name: Generate SBOM for core packages
        if: ${{ ! startsWith(github.ref, 'refs/tags/experimental') && ! startsWith(github.ref, 'refs/tags/api') }}
        run: |
          for dir in $(find packages -mindepth 1 -maxdepth 1 -type d)
          do
            dir_name=$(basename "$dir")
            echo "Generating SBOM for $dir_name"
            npm sbom --sbom-format=spdx --legacy-peer-deps --workspace ${dir} > "opentelemetry-js_${dir_name}.spdx.json"
          done

      - name: Generate SBOM for the API package
        if: startsWith(github.ref, 'refs/tags/api/')
        run: |
          npm sbom --sbom-format=spdx --legacy-peer-deps --workspace api > opentelemetry-js_api.spdx.json

      - name: Generate SBOMs for experimental packages
        if: startsWith(github.ref, 'refs/tags/experimental/')
        run: |
          for dir in $(find experimental/packages -mindepth 1 -maxdepth 1 -type d)
          do
            dir_name=$(basename "$dir")
            echo "Generating SBOM for $dir_name"
            npm sbom --sbom-format=spdx --legacy-peer-deps --workspace ${dir} > "opentelemetry-js_${dir_name}.spdx.json"
          done

      - name: Zip all SBOM files
        run: |
          zip sbom.zip *.spdx.json

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: SBOM.zip
          path: ./sbom.zip

  add-release-artifact:
    needs: generate-sboms
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifact from generate-sboms
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: SBOM.zip
      - name: Upload release asset
        uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./sbom.zip
          asset_name: SBOM.zip
          asset_content_type: application/zip
